<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="<%= asset_path('palmmm.jpg') %>">
    </a>
    <h1>Caribbean Research Platform</h1>
    <p>A central place to find research on the Caribbean and for the Caribbean. </p>
    <a type="button" class="btn btn-lg btn-default" href=""><span class="glyphicon glyphicon-cloud-upload"></span> Submit</a>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-info-sign"></span> Who can submit</h3>
      <ul>
        <li>Caribbean nationals</li>
        <li>Caribbean residentss</li>
        <li>Researchers who do their research in and on the Caribbean</li>
        <li>Members of the Caribbean Diaspora</li>
      </ul>
    </div>
    <div class="col-md-6">
      <h3> The Vision</h3>
      <ul>
        <li>The vision and mission</li>
        <li>The vision and mission</li>
        <li>The vision and mission</li>
        <li>The vision and mission</li>
      </ul>
    </div>
  </div> 
 
  <div class="row">
      <div class="col-md-6">
      <h3> Latest Research</h3>
       <ul>
        <li>Research List</li>
        <li>Research List</li>
        <li>Research List</li>
        <li>Research List</li>
      </ul>
      </div>
      
      <div class="col-md-6">
      <h3> The Vision</h3>
      <p>Good mahnin, Teacher — ow is yuh?
My name is Sarah Pool.
Dis is fi-me li bwoy Michal
An me just bring him a school.

Him bawn one rainy day, ma'am, it
Was comin awn to night —
Ugly baby grow pretty fi true,
For dis one was a sight.</p>
<p> Him bawn de week when Rufus
Jack-fruit tree did start fi bear,
Is dat same mont Oby pig dead
— But me figat de year.

We call him Mi, Mike, Mikey,
Jay, Jakey, Jacob, Jack,
But him right name is Michal Jaco'b
Alexander Black.

No treat him rough, yaw, Teacher;
Him is a sickly chile:
As yuh touch him hard him meck nize'
Some people seh him pwile.</p>
      </div>
  </div>
   <div class="alert alert-info text-center" role="alert">
    This is still a work in progress :) Be patient with us..
  </div>
</div>
